html, body {
    color: #494949;
}
a {
    text-decoration: none;
    color: #777;
}
a:hover {
    color: black;
}
header {
    margin-top: 50px;
    text-align: center;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
}
.menu > li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    /*border: 1px solid black;*/
}
.menu > li > a {
}
.menu > li > a:hover {
    color: white;
}
.menu > li:hover {
    background-color: #494949;
}
.menu > li:hover > .submenu {
    visibility: visible;
    display: block;
}
.submenu {
    position: absolute;
    display: none;
    visibility: hidden;
    width: 350px;
    top: 19px;
    left: -30px;
    text-align: left;
}
.submenu > li {
    display: block;
    padding: 0;
    margin: 0;
}
.submenu > li > a {
    padding: 0 15px;
    line-height: 2em;
    background-color: #494949;
    color: white;
}
.submenu > li > a:hover {}
