html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    color: #494949;
    min-width: 750px;
}
h1 {
    margin: 1rem;
}
a {
    text-decoration: none;
    color: #777;
}
a:hover {
    color: black;
}
header {
    margin-top: 40px;
    text-align: center;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
    color: #494949;
}
.menu > li {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
    text-transform: uppercase;
}
.menu > li:hover {
    background-color: #494949;
}
.menu > li.active > a {
    color: #494949;
    font-weight: bold;
}
.menu > li:hover > a {
    color: white;
    font-weight: normal;
}
.menu > li:hover > .submenu {
    visibility: visible;
    display: block;
}
.submenu {
    position: absolute;
    display: none;
    visibility: hidden;
    top: 15px;
    left: -40px;
    width: 225px;
    background-color: #494949;
    padding: 5px 15px;
    text-align: left;
    font-size: 0.9rem;
}
.submenu > li {
    display: block;
    padding: 5px 0;
    margin: 0;
}
.submenu > li > a {
    color: #ccc;
}
.submenu > li > a:hover {
    color: white;
}
